* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background: linear-gradient(45deg, #7fa5b2, #88c8af);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container span {
    padding-top: 0.5rem;
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
}

.logo {
    width: 3.5rem;
    height: auto;
    margin-left: 1rem;
    padding-right: 0.5rem;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 2.5%;
    background: transparent;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.navbar ul {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    margin-right: 5rem;
    gap: 4rem;
}

.navbar ul a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    position: relative;
    transition: all 0.6s ease;
}

.navbar ul a::before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 5px;
    background-color: #a6a6a6;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.5s ease;
}

.navbar ul a:hover::before {
    transform: scaleY(0.5);
}

.navbar ul a:hover {
    font-size: 1.6rem;
    color: #d3f3e9;
}

.header-img-container {
    width: 100%;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}

.header-img {
    width: 100%;
    height: 110vh;
    object-fit: cover;
    z-index: 1;
}
.header {
    position: relative;
}

.header-info {
    position: absolute;
    top: 30%;
    left: 3%;
    color: white;
    width: 60%;
}

.header-info h1 {
    font-size: 4rem;
    padding-bottom: 2rem;
}

.header-info p {
    font-size: 2rem;
    text-align: left;
    margin-bottom: 3rem;
}

.btn {
    text-decoration: none;
    padding: 1rem 2rem;
    font-weight: 700;
    font-size: 2rem;
    background: #7fa5b2;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 0.5rem;
    border-bottom: 2px solid #2be2a5;
    border-right: 2px solid #2be2a5;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transition-duration: 1s;
    transition-property: border-top, border-left, border-bottom, border-right,
        box-shadow;
}

.btn:hover {
    border-top: 2px solid #2be2a5;
    border-left: 2px solid #2be2a5;
    border-bottom: 2px solid #88d2fd;
    border-right: 2px solid #88d2fd;
    box-shadow: #6de7ae66 5px 5px, #6de7ae25 10px 10px, #6de7ae66 15px 15px;
}
