body {
    --altura-painel-scroll: calc(100vh - 200px);
}

.background-primary {
    background-image: linear-gradient(to right, #7fa5b2, #a1d1c1);
    flex-grow: 1;
}

.button-color {
    background-color: #4c9386;
    color: white;
}

.button-gradient {
    background-image: linear-gradient(to right, #99d1e4, #b9e8d8);
}

.poppins-bold {
    font-family: "poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.nunita-bold {
    font-family: "nunito", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.background-color {
    background-color: #e8e8e8;
}

.background-select {
    background-color: #e9f2f6;
}

.text-name {
    color: #102542;
}

.arrow-color {
    color: #377292;
}

.form {
    border: none; /* Remove a borda padrão do Bootstrap */
    border-radius: 0; /* Remove as bordas arredondadas */
    border-bottom: 2px solid #ced4da; /* Adiciona apenas a linha inferior */
    padding-left: 0; /* Remove o padding padrão para alinhar à esquerda */
}

/* Remove o brilho azul (box-shadow) ao focar no input */
.form-control:focus {
    box-shadow: none;
    border-color: #495057; /* Muda a cor da linha inferior ao focar */
}

.text-welcome {
    color: #1b3558;
}

.text-secundary {
    color: #848484;
}

.btn-perfil {
    transition: all 0.2s ease-in-out;
}

.btn-perfil:hover {
    border-color: #102542 !important;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

    transform: translateY(-3px);
}

.footer-link {
    font-size: 14px;
    color: var(--bs-secondary-color);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.cop {
    color: var(--bs-secondary-color);
    font-size: 14px;
}

.footer-link:hover {
    color: var(--bs-dark);
}

.biblioteca-scroll {
    height: var(--altura-painel-scroll);
    overflow-y: auto;
}

.atividade-card {
    cursor: pointer;
}

.dia-card {
    min-width: 250px;
    height: 43rem;
    background-color: #e8e8e8;
    border-radius: 12px;
    border: 1px solid #dee2e6;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dias-flex {
    display: flex;
    gap: 1rem;
    min-width: min-content;
}

.dias-scroll {
    overflow-x: auto;
    padding-bottom: 1rem;
}

.nome-paciente {
    color: #2c7265;
    font-weight: 700;
}

.row.g-4 > [class*="col-"] {
    display: flex;
    flex-direction: column;
}

.bg-white.shadow,
.dias-scroll,
.dias-flex {
    height: 100%;
}

.navbar-nav .nav-link {
    position: relative;
    padding-bottom: 0.5rem;
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link::after {
    content: "";
    position: absolute;

    background-color: #0d6efd;
    height: 2px;

    bottom: 5px;

    width: 0;
    left: 50%;
    transform: translateX(-50%);

    transition: width 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
    color: #0d6efd;
}

.navbar-nav .nav-link:hover::after {
    width: 70%;
}

.navbar-nav .nav-link.active::after {
    width: 70%;
}

.login-card-custom {
    border-radius: 100px 100px 100px 100px;
    overflow: hidden;
    max-width: 500px;
    width: 100%;
    height: 600px;
}

.login-image-container {
    position: relative;

    z-index: 1;
}

.drag-over-active {
    transform: sclae(1.1);
    box-shadow: 0 0 15px rgba(0, 123, 255, 0.7);
    opacity: 1 !important;
    transition: all 0.2s ease-in-out;
}

.login-image-container::before {
    content: "";

    position: absolute;
    top: 10px;
    left: 60px;
    width: 70%;
    height: 100%;

    background-image: url(/img/logo-avena-removebg-preview-dark.png);

    opacity: 0.1;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

@media (min-width: 992px) {
    /* Breakpoint 'lg' do Bootstrap */
    html,
    body {
        height: 100%;
        overflow: hidden; /* Impede rolagem dupla no desktop */
    }
    .main-desktop-fixed {
        height: calc(
            100vh - 76px - 106px
        ) !important; /* Ajuste fino da altura: 100vh - header - título */
        overflow: hidden;
    }
    .h-lg-100 {
        height: 100% !important;
    }
    .scroll-desktop {
        overflow-y: auto !important;
    }
}
@media (max-width: 991.98px) {
    .main-desktop-fixed {
        height: auto !important;
        overflow: visible !important;
    }
    .scroll-desktop {
        overflow-y: visible !important;
        height: auto !important;
    }
    .col-lg-3 {
        margin-bottom: 1.5rem;
    }
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none;
}

/* TELABASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    background: linear-gradient(135deg, #8bbec9, #b7dcd5);
    height: 100vh;
}

.navbar {
    width: 100%;
    height: 70px;
    background: #eef0f3;
    padding: 0 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #d4d6d8;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 22px;
    font-weight: bold;
    color: #1c2a44;
}

.logo img {
    width: 45px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 25px;
}

.menu a {
    text-decoration: none;
    color: #1c2a44;
    font-size: 17px;
    padding: 5px 0;
}

.menu a.active {
    border-bottom: 2px solid #1c2a44;
}

.divider {
    width: 2px;
    height: 25px;
    background: #c2c5c9;
}

.perfil {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #1c2a44;
    font-size: 16px;
}

.perfil img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}
